<div class="container">
    <header>
        <div class="container">
            <!--This containers are for align the img to the content without any margins-->
            <div class="body-content">
                <div class="banner-cionow"><a href="https://cionow.accenture.com/" role="button">{{ app_name }}</a></div>

            </div>
        </div>
    </header>

    <div class="container body-content">
        <nav>
            <div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse" style="border-top-width: 0;">

                        <!-- Collect the nav links, forms, and other content for toggling -->

                        <div class="row">
                            <div class="col-sm-12" style="padding-left: 14px; padding-right:14px;">
                                <nav id="main-nav" role="navigation">
                                    <ul id="main-menu" class="sm sm-blue" data-smartmenus-id="14755968934781208">
                                        <li>
                                            <a role="button" class="has-submenu" id="sm-14755968934781208-1"
                                               aria-haspopup="true" aria-controls="sm-14755968934781208-2"
                                               aria-expanded="false"><span class="sub-arrow">+</span>
                                                Licenses
                                            </a>

                                            <ul id="sm-14755968934781208-2" role="group" aria-hidden="true"
                                                aria-labelledby="sm-14755968934781208-1" aria-expanded="false">
                                                <li>
                                                    <a href="https://cionow.accenture.com/ServicePulse">Service
                                                        Pulse</a>

                                                </li>
                                                <li>
                                                    <a href="https://ts.accenture.com/Sites/BusinessOperations/cionow/SitePages/ISA%20Monthly%20Service%20Review%20CIO%20Now.aspx"
                                                       onclick="return popup(this, &#39;popup&#39;, &#39;notes&#39;, &#39;1300&#39;, &#39;500&#39;)">Infrastructure
                                                        Monthly Service</a>
                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/ProductUpdates">ISA Product
                                                        Updates</a>

                                                </li>
                                                <li>
                                                    <a href="https://ts.accenture.com/sites/AccentureAnalytics/SitePages/HomePage.aspx"
                                                       onclick="return popup(this, &#39;tabup&#39;, &#39;notes&#39;, &#39;9999&#39;, &#39;9999&#39;)">CIO
                                                        Stats</a>
                                                </li>
                                                <li>
                                                    <a class="has-submenu" id="sm-14755968934781208-3"
                                                       aria-haspopup="true" aria-controls="sm-14755968934781208-4"
                                                       aria-expanded="false"><span class="sub-arrow">+</span>SOH
                                                        What!</a>
                                                    <ul id="sm-14755968934781208-4" role="group" aria-hidden="true"
                                                        aria-labelledby="sm-14755968934781208-3" aria-expanded="false">
                                                        <li>
                                                            <a href="https://cionow.accenture.com/SohWhat">SOH What!
                                                                Main page</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://ts.accenture.com/sites/CIOSOH/ootw.aspx"
                                                               onclick="return popup(this, &#39;popup&#39;, &#39;notes&#39;, &#39;1300&#39;, &#39;500&#39;)">SOH
                                                                What! Organization</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://ts.accenture.com/Sites/BusinessOperations/cionow/SitePages/SOH%20What!%20Service%20On-boarding%20Dashboard_Updated.aspx"
                                                               onclick="return popup(this, &#39;popup&#39;, &#39;notes&#39;, &#39;1300&#39;, &#39;500&#39;)">SOH
                                                                What! Service On-boarding Dashboard</a>
                                                        </li>

                                                    </ul>


                                                </li>

                                            </ul>


                                        </li>
                                        <li>
                                            <a role="button" class="has-submenu" id="sm-14755968934781208-5"
                                               aria-haspopup="true" aria-controls="sm-14755968934781208-6"
                                               aria-expanded="false"><span class="sub-arrow">+</span>
                                                Social
                                            </a>

                                            <ul id="sm-14755968934781208-6" role="group" aria-hidden="true"
                                                aria-labelledby="sm-14755968934781208-5" aria-expanded="false">
                                                <li>
                                                    <a href="https://cionow.accenture.com/Social">Social</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/SocialDashboard">Social
                                                        Dashboard</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/AccentureBroadcast">Accenture
                                                        Broadcast</a>

                                                </li>

                                            </ul>


                                        </li>
                                        <li>
                                            <a role="button" class="has-submenu" id="sm-14755968934781208-7"
                                               aria-haspopup="true" aria-controls="sm-14755968934781208-8"
                                               aria-expanded="false"><span class="sub-arrow">+</span>
                                                Operate
                                            </a>

                                            <ul id="sm-14755968934781208-8" role="group" aria-hidden="true"
                                                aria-labelledby="sm-14755968934781208-7" aria-expanded="false">
                                                <li>
                                                    <a class="has-submenu" id="sm-14755968934781208-9"
                                                       aria-haspopup="true" aria-controls="sm-14755968934781208-10"
                                                       aria-expanded="false"><span class="sub-arrow">+</span>Production
                                                        Acceptance</a>
                                                    <ul id="sm-14755968934781208-10" role="group" aria-hidden="true"
                                                        aria-labelledby="sm-14755968934781208-9" aria-expanded="false">
                                                        <li>
                                                            <a href="https://cionow.accenture.com/ProductionAcceptance?ProductionAcceptanceSubmenu=ManageServiceAcceptanceDetail">Manage
                                                                Service Acceptance Detail</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/ProductionAcceptance?ProductionAcceptanceSubmenu=PortfolioAnalytics">Portfolio
                                                                Analytics</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/ProductionAcceptance?ProductionAcceptanceSubmenu=RequestServiceAcceptance">Request
                                                                Service Acceptance</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/ProductionAcceptance?ProductionAcceptanceSubmenu=ServiceAcceptanceAnalytics">Service
                                                                Acceptance Analytics</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/ProductionAcceptance?ProductionAcceptanceSubmenu=ServiceAcceptanceInventory">Service
                                                                Acceptance Inventory</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/ProductionAcceptance?ProductionAcceptanceSubmenu=TaskAssignedToMe">Tasks/Deliverables
                                                                Assigned To Me</a>

                                                        </li>

                                                    </ul>


                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/PlanAndManageService">Plan
                                                        &amp; Manage Service</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/MonitorService">Monitor
                                                        Service</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/DeliverService">Deliver
                                                        Service</a>

                                                </li>
                                                <li>
                                                    <a class="has-submenu" id="sm-14755968934781208-11"
                                                       aria-haspopup="true" aria-controls="sm-14755968934781208-12"
                                                       aria-expanded="false"><span class="sub-arrow">+</span>Transformation</a>
                                                    <ul id="sm-14755968934781208-12" role="group" aria-hidden="true"
                                                        aria-labelledby="sm-14755968934781208-11" aria-expanded="false">
                                                        <li>
                                                            <a href="https://cionow.accenture.com/OperationTransformation">Summary</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/OperationTransformationWorkstreamStatus/Index">Workstream
                                                                Status</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/OperationTransformationTeam">Team
                                                                View</a>

                                                        </li>

                                                    </ul>


                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/cnoperatetargets">Operate
                                                        Targets</a>

                                                </li>
                                                <li>
                                                    <a href="https://in.accenture.com/cioorganization/cio-methods-and-tools/cio-operations/cio-operations-support-processes/"
                                                       onclick="return popup(this, &#39;tabup&#39;, &#39;notes&#39;, &#39;9999&#39;, &#39;9999&#39;)">CIO
                                                        Operations Support Processes</a>
                                                </li>

                                            </ul>


                                        </li>
                                        <li>
                                            <a role="button" class="has-submenu" id="sm-14755968934781208-13"
                                               aria-haspopup="true" aria-controls="sm-14755968934781208-14"
                                               aria-expanded="false"><span class="sub-arrow">+</span>
                                                Programs
                                            </a>

                                            <ul id="sm-14755968934781208-14" role="group" aria-hidden="true"
                                                aria-labelledby="sm-14755968934781208-13" aria-expanded="false">
                                                <li>
                                                    <a href="https://ts.accenture.com/Sites/BusinessOperations/cionow/SitePages/HRCRM.aspx"
                                                       onclick="return popup(this, &#39;tabup&#39;, &#39;notes&#39;, &#39;9999&#39;, &#39;9999&#39;)">HR/CRM
                                                        Applications</a>
                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/ManagePrograms">Manage
                                                        Programs</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/ProgramStatus">Program
                                                        Status</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/ProgramAdoption">Program
                                                        Adoption</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/Scope">Scope</a>

                                                </li>

                                            </ul>


                                        </li>
                                        <li>
                                            <a role="button" class="has-submenu" id="sm-14755968934781208-15"
                                               aria-haspopup="true" aria-controls="sm-14755968934781208-16"
                                               aria-expanded="false"><span class="sub-arrow">+</span>
                                                Disrupt
                                            </a>

                                            <ul id="sm-14755968934781208-16" role="group" aria-hidden="true"
                                                aria-labelledby="sm-14755968934781208-15" aria-expanded="false">
                                                <li>
                                                    <a href="https://cionow.accenture.com/Cloudification">Cloudification</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/ITAnalytics">IT Strategy -
                                                        Analytics</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/ClientTeamCentricity">IT
                                                        Strategy - Client Team Centricity</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/ITstrategyDB">IT Strategy -
                                                        Diverse Business</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/ITstrategyDig">IT Strategy -
                                                        Digitalization</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/ExperienceCapability">IT
                                                        Strategy - Experience Capability</a>

                                                </li>

                                            </ul>


                                        </li>
                                        <li>
                                            <a role="button" class="has-submenu" id="sm-14755968934781208-17"
                                               aria-haspopup="true" aria-controls="sm-14755968934781208-18"
                                               aria-expanded="false"><span class="sub-arrow">+</span>
                                                EP&amp;S
                                            </a>

                                            <ul id="sm-14755968934781208-18" role="group" aria-hidden="true"
                                                aria-labelledby="sm-14755968934781208-17" aria-expanded="false">
                                                <li>
                                                    <a href="https://cionow.accenture.com/EPSEcoGov">Ecosystem
                                                        Governance</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/EPSSOSE">Supplier Operations
                                                        &amp; Stakeholder Enablement</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/EPSCFSS">Client Facing
                                                        Supplier Services</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/EPSSSSI">Spend Strategy &amp;
                                                        Strategic Initiatives</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/EcosystemKeyDates">Ecosystem
                                                        Key Dates</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/EPSAnalytics">Analytics</a>

                                                </li>

                                            </ul>


                                        </li>
                                        <li>
                                            <a role="button" class="has-submenu" id="sm-14755968934781208-19"
                                               aria-haspopup="true" aria-controls="sm-14755968934781208-20"
                                               aria-expanded="false"><span class="sub-arrow">+</span>
                                                People
                                            </a>

                                            <ul id="sm-14755968934781208-20" role="group" aria-hidden="true"
                                                aria-labelledby="sm-14755968934781208-19" aria-expanded="false">
                                                <li>
                                                    <a href="https://cionow.accenture.com/PeopleSummary">Summary</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/PeopleDemography">Demography</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/Peoplelcr">Loaded Cost
                                                        Rate</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/Peoplesandd">Supply and
                                                        Demand</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/peopleexcellence">People
                                                        Excellence</a>

                                                </li>

                                            </ul>


                                        </li>
                                        <li>
                                            <a role="button" class="has-submenu" id="sm-14755968934781208-21"
                                               aria-haspopup="true" aria-controls="sm-14755968934781208-22"
                                               aria-expanded="false"><span class="sub-arrow">+</span>
                                                Infra&amp;Arch
                                            </a>

                                            <ul id="sm-14755968934781208-22" role="group" aria-hidden="true"
                                                aria-labelledby="sm-14755968934781208-21" aria-expanded="false">
                                                <li>
                                                    <a class="has-submenu" id="sm-14755968934781208-23"
                                                       aria-haspopup="true" aria-controls="sm-14755968934781208-24"
                                                       aria-expanded="false"><span class="sub-arrow">+</span>Governance</a>
                                                    <ul id="sm-14755968934781208-24" role="group" aria-hidden="true"
                                                        aria-labelledby="sm-14755968934781208-23" aria-expanded="false">
                                                        <li>
                                                            <a href="https://cionow.accenture.com/Governance_InfraArch/Initiative">Initiative
                                                                Architecture Review Scorecard</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/Governance_InfraArch/RiskRatingDetail">Initiative
                                                                / Risk Rating Detail</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/Governance_InfraArch/PortfolioLeadArchitectAssigments">Portfolio
                                                                Lead Architect Assignments</a>

                                                        </li>

                                                    </ul>


                                                </li>
                                                <li>
                                                    <a class="has-submenu" id="sm-14755968934781208-25"
                                                       aria-haspopup="true" aria-controls="sm-14755968934781208-26"
                                                       aria-expanded="false"><span
                                                            class="sub-arrow">+</span>Delivery</a>
                                                    <ul id="sm-14755968934781208-26" role="group" aria-hidden="true"
                                                        aria-labelledby="sm-14755968934781208-25" aria-expanded="false">
                                                        <li>
                                                            <a href="https://cionow.accenture.com/Delivery_InfraArch/RapidDashboard">Rapid
                                                                Dashboard</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/Delivery_InfraArch/InnovationPipeline">Innovation
                                                                Pipeline</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/Delivery_InfraArch/ArchitectureSupply">Architecture
                                                                Supply/Demand Dashboard</a>

                                                        </li>

                                                    </ul>


                                                </li>
                                                <li>
                                                    <a class="has-submenu" id="sm-14755968934781208-27"
                                                       aria-haspopup="true" aria-controls="sm-14755968934781208-28"
                                                       aria-expanded="false"><span class="sub-arrow">+</span>Operations</a>
                                                    <ul id="sm-14755968934781208-28" role="group" aria-hidden="true"
                                                        aria-labelledby="sm-14755968934781208-27" aria-expanded="false">
                                                        <li>
                                                            <a href="https://cionow.accenture.com/Operations_InfraArch/ArchServicesStatistics">Architecture
                                                                Services Statistics</a>

                                                        </li>

                                                    </ul>


                                                </li>
                                                <li>
                                                    <a class="has-submenu" id="sm-14755968934781208-29"
                                                       aria-haspopup="true" aria-controls="sm-14755968934781208-30"
                                                       aria-expanded="false"><span class="sub-arrow">+</span>Analytics
                                                        &amp; Integration</a>
                                                    <ul id="sm-14755968934781208-30" role="group" aria-hidden="true"
                                                        aria-labelledby="sm-14755968934781208-29" aria-expanded="false">
                                                        <li>
                                                            <a href="https://cionow.accenture.com/AnalyticsPlatforms">Analytics
                                                                Platforms</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/IntegrationPlatform">Integration
                                                                Platforms</a>

                                                        </li>

                                                    </ul>


                                                </li>

                                            </ul>


                                        </li>
                                        <li>
                                            <a role="button" class="has-submenu" id="sm-14755968934781208-31"
                                               aria-haspopup="true" aria-controls="sm-14755968934781208-32"
                                               aria-expanded="false"><span class="sub-arrow">+</span>
                                                Risk
                                            </a>

                                            <ul id="sm-14755968934781208-32" role="group" aria-hidden="true"
                                                aria-labelledby="sm-14755968934781208-31" aria-expanded="false">
                                                <li>
                                                    <a href="https://cionow.accenture.com/RiskAssessment">Risk
                                                        Assessment</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/AccentureRelease">Accenture
                                                        Release</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/PeerReview">Peer Review</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/Compliance">Compliance</a>

                                                </li>

                                            </ul>


                                        </li>
                                        <li>
                                            <a role="button" class="has-submenu" id="sm-14755968934781208-33"
                                               aria-haspopup="true" aria-controls="sm-14755968934781208-34"
                                               aria-expanded="false"><span class="sub-arrow">+</span>
                                                Govern
                                            </a>

                                            <ul id="sm-14755968934781208-34" role="group" aria-hidden="true"
                                                aria-labelledby="sm-14755968934781208-33" aria-expanded="false">
                                                <li>
                                                    <a class="has-submenu" id="sm-14755968934781208-35"
                                                       aria-haspopup="true" aria-controls="sm-14755968934781208-36"
                                                       aria-expanded="false"><span class="sub-arrow">+</span>Go lives
                                                        &amp; FY Accomplishments</a>
                                                    <ul id="sm-14755968934781208-36" role="group" aria-hidden="true"
                                                        aria-labelledby="sm-14755968934781208-35" aria-expanded="false">
                                                        <li>
                                                            <a href="https://cionow.accenture.com/FYAccomplishments">FY16</a>

                                                        </li>
                                                        <li>
                                                            <a href="https://cionow.accenture.com/FY15Accomplishments">FY15</a>

                                                        </li>

                                                    </ul>


                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/PlanningandGovernance">Planning
                                                        &amp; Governance</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/FYMobilization">FY
                                                        Mobilization</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/FYProgramsPlanning">FY
                                                        Programs Planning</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/SAPInitiatives">SAP
                                                        Initiatives (MOR Note)</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/MarketingCommunications">Marketing
                                                        and Communications</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/GovernFinance">Finance</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/GovernITSC">ITSC</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/DigitalHosting">Digital
                                                        Hosting</a>

                                                </li>
                                                <li>
                                                    <a href="https://cionow.accenture.com/InfraTechSurveyReport">CIO
                                                        Infrastructure &amp; Technology Survey Results</a>

                                                </li>

                                            </ul>


                                        </li>
                                        <li class=" notification-popover item_menu items">
                                            <a id="notificationList" class=" dropdown-toggle" data-toggle="popover"
                                               data-trigger="manual" data-content="" role="button" aria-expanded="false"
                                               title="" data-original-title="Notifications/Announcements">
                                                <div id="notification" class="notification notify show-count"
                                                     data-count="1"></div>
                                            </a>

                                        </li>
                                    </ul>


                                </nav>
                            </div>

                        </div>

                        <script type="text/javascript">
                            $(function () {
                                $('#main-menu').smartmenus({
                                    subMenusSubOffsetX: 1,
                                    subMenusSubOffsetY: -8
                                });
                            });
                        </script>
                    </div><!-- /.navbar-collapse -->

                </div><!--/.nav-collapse -->
            </div>

        </nav>
        <div id="breadcrumb-layout"></div>

    </div>
</div><!-- /.container-->