{% extends "layouts/sub_page_layout.html" %}
{% from "macros/forms.html" import render_text_input, render_submit_button, render_requirements_form %}

{% block sub_pg_content %}
    {% block sub_tittle %} <h4>Select a Team or Create a New One</h4> {% endblock %}
    <div class="container">
        {% block requirement_forms %}
            <!--Team Selection Dropdown Menu -->
             <!--Todo Ask the user to choose between selecting a team and creating a new requirement. Once decided show the appropriate form -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <select id="select-team-dropdown" class="form-control">
                            <!--Todo: dynamically query for options -->
                            <option value="New Team">New Team</option>
                            <option value="GDN">GDN</option>
                            <option value="External">External</option>
                            <option value="CIO-NOW">CIO Now</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div id="bm-req-form" class="form-group">
                             <h3>Create new Bare Metal Server Requirement</h3>
                            {{ render_requirements_form(forms.create_physical, url_for('compute.create_team')) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div id="create-team-form" class="container-fluid" hidden>
                            <h3>Create a new Team</h3>
                            {{ render_requirements_form(forms.create_team, url_for('compute.create_team')) }}
                        </div>
                        <div id="create-vm-req" class="container-fluid">
                            <h3>Create a new VM Requirement</h3>
                            {{ render_requirements_form(forms.create_virtual, url_for('compute.create_team')) }}
                        </div>
                    </div>
                </div>
                <div class="container">

                </div>
            </div>

        {% endblock requirement_forms %}
    </div>

{% endblock %}

{% block pg_specific_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.17/require.min.js"></script>
    <script>
        require(['{{ url_for('compute.static', filename='js/custom/init.js') }}'], function (config) {
            //Load the main module for the manage-fences page.
            require(['team-req'], function(main) {
                console.log(main);
            });

        });
    </script>
{#    <script data-main="{{ url_for('compute.static', filename='js/custom/team-req.js') }}"#}
{#            src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js"></script>#}
{% endblock %}
